---
import Layout from "@/layouts/Layout.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
import Formation from "@/components/Formation.astro"
import Skills from "@/components/Skills.astro"
---

<Layout
  title="Elfried Fortunatus KIDJE - Développeur Web et Mobile"
  description="Bienvenue sur mon portfolio ! Je suis un développeur web et mobile passionné, spécialisé dans le développement backend. Découvrez mes projets et mon parcours professionnel."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="skills">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Compétences
      </TitleSection>
      <Skills />
    <SectionContainer id="experiences">
      <TitleSection>
        <Briefcase class="size-8" />
        Expériences
      </TitleSection>
      <Experience />
    </SectionContainer>
    <SectionContainer id="formations">
      <TitleSection>
        <Briefcase class="size-8" />
        Formations
      </TitleSection>
      <Formation />
    </SectionContainer>

    <SectionContainer id="projects">
      <TitleSection>
        <CodeIcon class="size-7" />
        Projects
      </TitleSection>
      <Projects />
    </SectionContainer>

    <!-- <SectionContainer id="about-me">
      <TitleSection>
        <ProfileCheck class="size-8" />
        A propos de moi
      </TitleSection>
      <AboutMe />
    </SectionContainer> -->
  </div>
  </main>
</Layout>
